@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root div{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgb(114, 103, 103);
}

@layer components {
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center;

  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-10 flex h-screen w-fit flex-col justify-between overflow-auto;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-10 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .base-transition {
		transition: all 0.1s ease-in-out;
	}
}