/* @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div::-webkit-scrollbar {
  width: 0;
  display: none;
}

#root div{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgb(47,47,74,0.8);
}

/* placeholder */
input::placeholder {
  color: #737373;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #737373;
}

.scroll-container {
  overflow-y: auto;
}

/* Gradient */
.firstLeftSideGradient {
  /* background: #131623;
  background: radial-gradient(at right center,#1C2570, #131623); */
  background: rgba(28, 37, 112, 1.0);
  background: radial-gradient(at right center, rgba(32, 42, 134, 0.4), rgba(20, 22, 35, 1.0));
}
.secondLeftSideGradient {
  background: rgba(68, 32, 130, 1.0);
  background: radial-gradient(at left center, rgba(68, 32, 130, 0.4), rgba(20, 22, 35, 1.0));
}
.firstMainContentGradient {
  background: rgba(31, 30, 99, 1.0);
  background: radial-gradient(at right center, rgba(31, 30, 99, 0.7), rgba(9, 7, 42, 1.0));
}

@layer components {
  .main-container {
    @apply flex min-h-screen flex-1 flex-col gap-6;

  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-10 flex w-fit flex-col justify-between overflow-auto;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-10 flex h-screen w-fit flex-col justify-between  overflow-auto;
  }

  .rightsidebarContainer {
    @apply rounded-2xl bg-[#34345B] flex flex-col gap-3 p-2 pt-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .base-transition {
		transition: all 0.1s ease-in-out;
	}
  .shadow-white {
		box-shadow: -10px 6px 30px 4px rgba(255, 255, 255, 1);
	}
}